{% extends "layout.html" %}

{% block content %}
  <div class="jumbo">
    <h2>Welcome to the Flask app<h2>
    <h3>This is the home page for the Flask app<h3>

  <p class="hidable">If you click on me, I will disappear.</p>
	<p class="hidable">Click me away!</p>
	<p class="hidable">Click me too!</p>
	<span></span>
  </div>
{% endblock %}


{% block AjaxTest %}
  
  <div class="jumbo">
   <h1>jQuery Example</h1>
   <p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id="result">?</span></p>
   <p><a href=# id="calculate">calculate server side</a></p>
  </div>

{% endblock %}


{% block DBTest %}
  
   <h1>DB Example</h1>
   <span id="DBresult">?</span>
   <p><a href=# id="GetDB">get DB Info</a></p>

{% endblock %}