<link rel="stylesheet" href="/static/css/information.css?q=ac11435yuu4" type="text/css" media="screen" charset="utf-8" />

<div class="totalContext">
	<div class="infoContext">
		<p>이곳은 상세정보 임시 페이지입니다.</p>
		<p>뭐가 있을까?</p>
	</div>
</div>
