<!DOCTYPE html> 
<html>
  <head> 
    <title>KASIKOI</title>    
    <!--<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>-->
    <link rel="stylesheet" href="/static/css/main.css?q=15d313" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/font/nanumbarungothic.css" charset="utf-8"/>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="https://browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
    <script src="https://rawgithub.com/browserstate/ajaxify/master/ajaxify-html5.js"></script>

    <script script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
  </head>
  <body>

    <div class = "sidebar">
    </div>
    <div class = "maindiv">
      <div class = "page-wrap">
        <div class="main">
        </div>
      </div>
      <footer class="site-footer">
        <div class="container">
          <div class="footerlink">
              <a id="credits">제작진</a>
              <b>|</b>
              <a id="detailedInfo">상세정보</a>
              <b>|</b>
              <a id="notice">공지사항</a>
          </div>
          <div class="container">
            <p>KASIKOI 2015 전산학 프로젝트</p>
          </div>
        </div>
      </footer>
    </div>

  </body>
  
</html>