<!--<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"></strong>-->
<link rel="stylesheet" href="/static/css/login.css?q=ac11435yuu4" type="text/css" media="screen" charset="utf-8" />
<script script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>

<div class="totalContext">
  <div class ="signBox" id="loginBox">
  <p id="appName">KASIKOI</p>
  <p id="appExplain">스마트한 일본어 학습 어플리케이션, KASIKOI입니다.</p>

  <div class = "input">
    <input class = "signInput" type="text" placeholder="ID" name=id>
    <input class = "signInput" type="password" placeholder="PASSWORD" name=pwd>
    <div class = "checkInput">
      <input type="checkbox" value="None" class="squaredThree" name="check" />
      <p>기억하기</p>
    </div>
  </div>

  <div class = "button" id="loginButtonDiv">
    <div class="loginButton" id="squareButton">
      <p id="buttonText">로그인</p>
    </div>
    <p>or</p>
    <div class="toRegistButton" id="squareButton">
      <p id="buttonText">회원가입</p>
    </div>
  </div>

</div>


<div class ="signBox" id="registerBox" display="none">
  <p id="appName">KASIKOI</p>
  <p id="appExplain">KASIKOI에 가입하시고 스마트한 학습을 체험해보세요</p>

  <div class = "input" >
    <input class = "signInput" type="text" placeholder="ID" name=newId>
    <input class = "signInput" type="password" placeholder="PASSWORD" name=newPwd>
    <input class = "signInput" type="password" placeholder="PASSWORD REPEAT" name=NewPwdRe>
  </div>

  <div class = "button" id="RegisterButtonDiv">
    <div class="registButton" id="squareButton">
      <p id="buttonText">가입하기</p>
    </div>
    <p>or</p>
    <div class="toLoginButton" id="squareButton">
      <p id="buttonText">돌아가기</p>
    </div>
  </div>

  
</div> 

<div class="serverMessage" visibility="hidden"><b>TEST MESSAGE</b></div>
</div>