<link rel="stylesheet" href="/static/css/status.css" type="text/css" media="screen" charset="utf-8" />

<div id="statusContext">
	<div id="backgroundContext" class="background">
		<H1 class="status">KASIKOI</H1>
		<H2 class="status">스마트한 일본어 학습 어플리케이션, KASIKOI입니다.</H2>
		<hr />
		<H3 class="status">학습상황 요약</H3>
		<div id="statusParagraphContext">
			<p>##일 연속 학습 중입니다.</p>
			<p>오늘 #회 단어를 학습했습니다.</p>
			<p>내일 ##개의 단어가 잊혀지기 시작합니다.</p>
			<p>복습이 시급한 단어가 ##개 있습니다.</p>
			<p>최근 1주일간 ##개 단어의 학습을 시작했습니다.</p>
			<p>최근 1주일간 ###개의 단어를 복습했습니다.</p>
			<p>어제 #개의 단어를 새로 추가했습니다.</p>
		</div>
		<hr />
		<H3 class="status">학습 중인 단어 수/암기 단어 수 일별 추세</H3>
		<div class="statusGraph"><div id="placeholder" class="graph"></div></div>
		<H3 class="status">기간별 평균 학습 횟수 비교</H3>
		<div class="statusGraph"><div id="placeholder2" class="graph"></div></div>
		<H3 class="status">단어 기억 분포도</H3>
		<div class="statusGraph"><div id="placeholder3" class="graph"></div></div>

		<script script type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.js') }}"></script>
		<script script type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.time.js') }}"></script>
		<script script type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.categories.js') }}"></script>
		<script script type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.symbol.js') }}"></script>
		<script script type="text/javascript" src="{{ url_for('static', filename='js/heuristics.js') }}"></script>
		<script script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
		<!-- http://www.pikemere.co.uk/blog/flot-how-to-create-charts/ -->
	</div>
</div>
