
<link rel="stylesheet" href="/static/css/myWordBook.css?;d24d" type="text/css" media="screen" charset="utf-8" />

<script script type="text/javascript" src="{{ url_for('static', filename='js/heuristics.js') }}"></script>
<script script type="text/javascript" src="{{ url_for('static', filename='js/wordList.js') }}"></script>

<div id="myWordBookContext">
  <div id="headerContext" class="rowFlex background">
    <div id="headerName" class="half">
      <H1 class="wordbook">KASIKOI</H1>
      <H2 class="wordbook">스마트한 일본어 학습 어플리케이션, KASIKOI입니다.</H2>
    </div>
    <div id="filterSearchContext" class="half rowFlexNoCenter">
        <div id="filterBox" class="dropdown dropdown-dark">
          <select name="two" class="dropdown-select" onchange="filterList()">
            <option selected value="1">전체 단어</option>
            <option value="2">학습 중 단어</option>
            <option value="3">학습 중이 아닌 단어</option>
            <option value="4">복습이 필요한 단어</option>
            <option value="5">복습이 시급한 단어</option>
          </select>
        </div>

        <div id="searchContext">
          <div id="searchBoxButtonContext">
            <input id="searchBox" class="boxPadding" type="text"  onfocusout="searchWord()">
          </div>
          <input id="searchButton" type="submit" value>
        </div>
        
    </div>
  </div>

  <div id="tableHeaderDiv" class="fullWidth">
    <div id="tableHeader" class="rowFlex">
      <div id="tableLeftHeader" class="rowFlexNoCenter leftAttach">
        <div id="kanjiSelect" onclick="sortList(6)" class="headerFilter sortHover">한자</div>
        <div id="kanaSelect" onclick="sortList(7)" class="headerFilter sortHover">[가나]: </div>
        <div id="meaningSelect" onclick="sortList(8)" class="headerFilter sortHover">뜻</div>
      </div>
      <div id="tableRightHeader" class="rowFlexNoCenter rightAttach">
        <div id="learningStartDateSelect" class="sortHover" value="1" onclick="sortList(1)">학습 시작일</div>&nbsp;/&nbsp;
        <div id="recentLearningDateSelect" class="sortHover" value="2" onclick="sortList(2)">최근 학습일</div>&nbsp;/&nbsp;
        <div id="memorizeLevelSelect" class="sortHover" value="3" onclick="sortList(3)">암기 레벨</div>&nbsp;/&nbsp;
        <div id="memorizeRateSelect" class="sortHover" value="4" onclick="sortList(4)">암기율</div>&nbsp;/&nbsp;
        <div id="answerRateSelect" class="sortHover" value="5" onclick="sortList(5)">정답률</div>
      </div>
    </div>
  </div>
  
  <div id="wordTableContext" class="square">

    <div id="wordContext" class="square">

      <div class="wordRow rowFlex" value="-1" style="display:none"> 
        <div class="leftAttach rowFlexNoCenter wordLeftColumn">
          漢字 [かな]: 뜻1, 뜻2, 뜻3 

        </div>
        <div class="rightAttach rowFlexNoCenter wordRightColumn">
          11-01 / 11-22 / Lv. 2(단기) / 35% / 90%
        </div>
      </div>

      <div id="wordList" class="columnFlexNoCenter">

      <!--
      <div class="wordRow rowFlex"> 
        <div class="leftAttach rowFlexNoCenter wordLeftColumn">
          漢字 [かな]: 뜻1, 뜻2, 뜻3 
        </div>
        <div class="rightAttach rowFlexNoCenter wordRightColumn">
          11-01 / 11-22 / Lv. 2(단기) / 35% / 90%
        </div>
      </div>
      -->
      </div>
    </div>
  </div>
  <div class="pagination" style="display:none"><</div>
  <div id="wordBookCounterContext" class="rowFlex">
  </div>
</div>