
<script script type="text/javascript" src="{{ url_for('static', filename='js/sidebuttonpush.js') }}"></script>

<div class="sidebar_TopMenuContext" id="TopMenu">
  <div class = "sidebar_UserNameBox" id="userId">
    <p id="userName">아이디</p>
  </div>
  <div class = "sidebar_MainButton" id="study">
    <p>학습 시작</p> 
  </div>
  <div class = "sidebar_MainButton" id="wordadd">
    <p>단어 추가</p> 
  </div>
</div>

<div class="sidebar_MidMenuContext" id="MidMenu">
  <div class = "sidebar_MenuBox" id="curLearningState">
    <p>학습 현황</p> 
  </div>
  <div class = "sidebar_MenuBox" id="myWordBook">
    <p>내 단어장</p> 
  </div>
  <div class = "sidebar_MenuBox" id="wordBookList">
    <p>단어장 관리</p> 
  </div>
</div>
  <!--
<div class="sidebar_StatisticContext" id="StatisticMenu">
  <div class="sidebar_Statistics">

      <b>학습 현황 요약</b>
      <a>단어장 총 단어 수 :</a>
      <a>학습중인 단어 수 :</a>
      <a>암기한 단어 수 :</a>
      <a>최종 학습 날짜 : </a>
      <a>(기타 등등)</a>
      
   </div>
</div>
-->
<div class="sidebar_appButtonContext" id="AppMenu">
  <div class="sidebar_appButton" id="appDownButton">
  </div>
</div>

<div class="sidebar_BottomBoxContext" id="BottomMenu">
  <div class = "sidebar_BottomMenuBox" id="logout">
    <a href="">로그아웃</a> 
  </div>
</div>