
<link rel="stylesheet" href="/static/css/study.css?s1fusss" type="text/css" media="screen" charset="utf-8" />


<script script type="text/javascript" src="{{ url_for('static', filename='js/heuristics.js') }}"></script>
<script script type="text/javascript" src="{{ url_for('static', filename='js/problemSelector.js') }}"></script>
<script script type="text/javascript" src="{{ url_for('static', filename='js/study.js') }}"></script>

<div class="totalContext">
	<div class="studyContext">
	<div class="studyHiraKanjiContext">
		<div class="studyNoClockContext" id="kanjiClock">
			<div class="studyKanjiContext">
				<p class = "kanji">漢字1; 漢字2</p>
			</div>
		</div>
		<div class="studyNoClockContext" id="kanaClock">
			<div class="studyHiraContext">
				<p class = "kana">kana;kana</p>
			</div>
		</div>
	</div>

	<div class="studyOnlyKanaContext">
		<div class="studyNoClockContext" id="kanaClock">
			<div class="studyOnlyKana">
				<p class = "kana">kana;kana</p>
			</div>
		</div>
	</div>

	<div class="studyTempContext">
		<div class="studyNoClockContext" id="meaningClock">
			<div class="studyMeaningContext" id="meaning">			
				<p class = "meaning">meaning1;meaning2;meaning3</p>
			</div>
		</div>
	</div>
	
	<div class="studyRememberButtonContext">
		<div class="studyButtonBorder">
			<div class = "studyButton" id="memorize">암기(C)</div>
		</div>
		<div class="studyButtonBorder">
			<div class = "studyButton" id="noMemorize">미암기(S)</div>
		</div>
		<div class="studyButtonBorder">
			<div class = "nextButton avoid-clicks" id="nextWord">다음 단어(A)</div>
		</div>
	</div>

	<div class="studyExampleContext" id="exampleContext">
		<div class="studyExampleParagraphContext">
			<p class = "paragraph" id="exampleParagraph">some paragraph here</p>
			<p class = "paragraph" id="exampleMeaning">some paragraph here</p>
		</div>
		<div class="studyExampleRelativeWordContext" style="display:none">
			<!--<p class = "associatedKanji">Associated Kanji</p>
			<p class = "associatedWord">Associated Word1</p>-->
		</div>
		<div class ="studyExampleRelativeContext">
		</div>
	</div>

	<div class="studyStatisticContext">
		<div class="studyStatisticLeftContext">
			<div class ="levelInfo">
				<p class = "level">암기레벨 : </p>
				<p class = "probability">암기확률 : </p>
				<p class = "heuristic">복습 가중치 : </p>
			</div>
			<div class ="correctPercentageInfo">
				<p class = "overallRatio">정답/전체 : 0/0</p>
				<p class = "overallPercentage">정답률 : 0%</p>
				<p class = "kanjiPercentage">한자 정답률 : 0%</p>
				<p class = "kanaPercentage">가나 정답률 : 0%</p>
				<p class = "meaningPercentage">뜻 정답률 : 0%</p>
			</div>
		</div>
		<div class="studyStatisticRightContext">
			<div class ="recentMatchInfo">
			<p class = "recentResult">최근 : 암기 미암기</p>
			</div>
			<div class ="dateInfo">
				<p class = "startDate">암기 시작일 : yyyy-mm-dd</p>
				<p class = "recentDate">최근 학습일 : yyyy-mm-dd (경과일)</p>
				<p class = "forgetDate">망각 시작일 : yyyy-mm-dd</p>
			</div>
			<div class ="explainParagraphInfo">
				<p class = "LevelUp">이번 암기로 체크되면 레벨업</p>
			</div>
		</div>
	</div>
</div>
</div>