<link rel="stylesheet" href="/static/css/wordBookList.css?;9yh55i7lkul" type="text/css" media="screen" charset="utf-8" />
<script script type="text/javascript" src="{{ url_for('static', filename='js/wordUpload.js') }}"></script>

<div class="totalContext">
	<div id="wordBookListContext" class="background">
		<div id="wordBookImportContext" class="columnFlex">
			<div id="wordImportContext" class="columnFlex fontControl"> 
				<p>단어장 파일을 업로드하여 다량의 단어를 빠르게 추가합니다.</p>
			</div>
			<div id="buttonImportContext" class="columnFlex fullWidth buttonPadding">
				<div class="buttonControlBorder">
					<div id="uploadButton" class="buttonControl">
						단어장 불러오기
					</div>
					<input id="fileUpload" type="file" style="width:0px;height:0px;overflow:hidden"/>
				</div>
			</div>	
		</div>
		<div id="wordBookExportContext" class="columnFlex fontControl">
			<div id="wordExportContext"> 
				<p>현재 학습중인 단어를 파일로 내보냅니다.</p>
			</div>
			<div id="buttonExportContext" class="columnFlex fullWidth buttonPadding">
				<div class="buttonControlBorder" >
					<div id="downloadButton" class="buttonControl">
						단어장 내보내기
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>