<link rel="stylesheet" href="/static/css/wordadd.css?de5eh" type="text/css" media="screen" charset="utf-8" />
<script script type="text/javascript" src="{{ url_for('static', filename='js/wordAdd.js') }}"></script>

<div class="totalContext">
	<div id="wordAddContext" class="columnFlexBox">
		<div id="deleteContext" class="rowFlexNoCenterBox">
			<div id="rememberCheckbox"class="ButtonContext rowFlexNoCenterBox">
				<div class="checkbox-group rowFlexBox"> 
		    	<input type="checkbox" id="checkiz"> 
		    	<label for="checkiz">
		        <span class="check"></span>
		        <span class="box"></span>
		         이 단어의 한자는 암기하지 않음
		     </label>
				</div>
			</div>
			<div id="removeButton" class="ButtonContext rowFlexNoCenterBox">
				<p class="mySmallButton">이 단어 삭제</p>
			</div>
		</div>

		<div id="kanjiKanaContext" class="background columnFlexBox ">
			<div id="kanjiContext" class="kanji columnFlexBox kkContextWithPad">
				<input id="KanjiInput" type="text" placeholder="Kanji" oninput="findKanji()">
			</div>
			<div id="kanaContext" class="kana columnFlexBox kkContextWithPad">
				<input id="KanaInput" type="text" placeholder="Kana" oninput="findSimillarWord()">
			</div>
		</div>

		<div id="meaningTempContext" class="columnBoxForBackground">
			<div id="meaningExampleContext" class="background columnFlexBox">
				<div id="meaningContext" class="meaning boxPadding columnFlexBox kkContext">
					<input id="meaningInput" type="text" placeholder="뜻" required>
				</div>
				<div id="exampleJapContext" class="example boxPadding columnFlexBox kkContext">
					<input id="exampleJapInput" class="boxPadding"type="text" placeholder="일어예문">
				</div>
				<div id="exampleKorContext" class="example boxPadding columnFlexBox kkContext">
					<input id="exampleKorInput" class="boxPadding"type="text" placeholder="예문번역">
				</div>
			</div>
		</div>

		<div id="relativeTempContext" class="columnBoxForBackground">
			<div id="relativeContext" class="background rowFlexBox">
				<div id="includeKanjiContext" class="columnFlexNoCenterBox">
					<div class="fuckingAsshole">
						<p id="includeName" class="relativeFont">포함 한자</p>
					</div>
					<div class="includeContext">
						<!--<p class="includeKanji">Kanji</p>-->
					</div>
				</div>
				<div id="similarWordContext" class="columnFlexNoCenterBox">
					<p class="relativeFont">유사 단어</p>
					
					<div class="similarWord rowFlexNoCenterBox" style="display:none">
						<div class="word">
							<a class="includeKana">関連[かんれん]: 관련 단어</a>
						</div>
						<div class="editLinkButton">
							<a>[편집]</a>
						</div>
					</div>

					<div class="includeContext2">
						<!--<p class="includeKanji">Kanji</p>-->
					</div>
				</div>
			</div>
		</div>

		<div id="wordaddButtonContext" class="rowFlexNoCenterBox">
			<div id="cancelButton" class="ButtonContext rowFlexNoCenterBox">
				<p class="myButton">취소</a>
			</div>
			<div id="addButton" class="ButtonContext rowFlexNoCenterBox">
				<p class="myButton">단어 추가</p>
			</div>
		</div>
	</div>
</div>