.totalContext
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.squaredThree {
	width: 20px;	
	margin: 5px auto;
	position: relative;
	background-color: #576078; 
}

.squaredThree label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}
 
.squaredThree label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.signBox
{ 
	margin: 0 auto;
	width: 506px;
	height: 230px;
	background-color: #242731;
	color: #fff;
}


#registerBox
{
	margin: 0 auto;
	width: 506px;
	height: 230px;
	background-color: #242731;
	color: #fff;
}

.signBox #appName
{
	font-size: 40px;
	margin-left:20px;
	margin-top: 15px;
	font-weight: 700;
}

.signBox #appExplain
{
	font-size: 15px;
	margin-left: 20px;
	margin-bottom: 18px;
	margin-top : 6px;
	font-weight: 700;
}


.signInput 
{
	width : 210px;
	height: 27px;
	padding-left: 5px;
	margin-bottom: 5px;
	font-size: 16px;

	border:none;
	border-right:0px; 
	border-top:0px; 
	border-left:0px; 
	border-bottom:0px;

	background-color: #576078;
	color: #fff;


	order: 1;
}

.serverMessage
{
	margin: 0 auto;
	margin-top: 3px;
	width: 506px;
	height: 30px;
	background-color: #ff8080;

    display: flex;
    align-items: center;
    justify-content: center;

	order: 2;
}

.serverMessage b
{
	color: black;
}

div .input
{
	width: 225px;
	padding-left: 20px;
	float:left;
}

div .button
{
	width: 240px;
	height: 73px;
	padding-left: 10px;
	float:left;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#loginButtonDiv
{
	margin-top: -5px;
}


#RegisterButtonDiv
{
	margin-top: 10px;
}

div .checkInput
{
	width: 225px;
	float: left;
	padding-top: 5px;
}

div .checkInput p
{
	float: left;
	padding-top: 2px;
}

div .checkInput input
{
	float: left;
	padding-top: 8px;
}

#squareButton
{
	float: left;
	width: 85px;
	height: 73px;
	background-color: #576078;
	color: #fff;
	text-align: center;


    display: flex;
    align-items: center;
    justify-content: center;
}

#squareButton:hover
{
  background-color: #7c91c0;
}
 

#squareButton:active
{
  background-color: #8E9DC0;
}

#buttonText
{
	font-size: 18px;
	margin: 0px;
}

div .button p
{
	float: left;
	font-size: 22px;
	margin-left: 15px;
	margin-right: 15px;
}

.registButton
{
	background-color: #ff9;
	width: 100px;
	height: 50px;
}

.loginButton
{
	background-color: #ff9;
	width: 100px;
	height: 50px;
}


::-webkit-input-placeholder 
{
   color: white;
}

:-moz-placeholder 
{ /* Firefox 18- */
   color: white;  
}

::-moz-placeholder 
{  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder 
{  
   color: white;  
}