* 
{
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: 'Nanum Barun Gothic';
}
 
/*
 * Create dark grey header with a white logo
 */
  
header {
  background-color: #2B2B2B;
  height: 70px;
  width: 100%;
  opacity: .9;
  margin-bottom: 0px;
}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

 
/*
 * Center the body content
 */
  
.container {
  width: 100%;
  margin: 0 auto;
}
 
div.jumbo { 
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
 
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
 
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

.sidebar
{
  width: 230px;
  height: 100%;
  float: left;
  color : #ffffff;
  background-color: #1B1E25;

  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;
}

.sidebar_UserNameBox
{
  height: 50px;
}

.sidebar_UserNameBox p
{
  padding-left: 30px;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar_BottomMenuBox
{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  padding-right: 10px;
}

.sidebar_BottomMenuBox a
{
  font-weight: bold;
  color: #fff;
}

.sidebar_BottomMenuBox a:hover
{
  color: #f28437;
}

.sidebar_BottomMenuBox a:link
{
  text-decoration: none;
}


.sidebar_TopMenuContext
{
  margin-top: 5px;
  width: 100%;
}

.sidebar_MidMenuContext
{
  margin-top: 10px;
  width: 100%;
}

.sidebar_StatisticContext
{
  width: 100%;
  margin-top: 30px;
  display: flex;
}

.sidebar_Statistics
{
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.sidebar_Statistics a
{
  padding-left: 35px;
  padding-top: 3px;
  top: 50%;
}

.sidebar_Statistics b
{
  padding-left: 35px;
  padding-top: 3px;
  font-weight: 700;
  top: 50%;
}

.sidebar_BottomBoxContext
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
  background-color: #1B1E25;
}

.sidebar_MenuBox
{
  height : 40px;
}

.sidebar_MenuBox p
{
  padding-left: 50px;
  font-weight: 700;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar_MenuBox:hover
{
  background-color: #242731;
}

.sidebar_MenuBox:active
{
  background-color: #242731;
}

.sidebar_MainButton
{
  position: relative;
  background-color: #576078;
  height: 60px;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;
}

#wordadd
{
  height: 40px;
}

.sidebar_MainButton:hover
{
  background-color: #7c91c0;
}

.sidebar_MainButton:active
{
  background-color: #8E9DC0;
}

.sidebar_MainButton p
{
  text-align: center;
  font-weight: bold;
  font-size: 20px;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar_SubButton
{
  color: #ffffff;
}

.sidebar_appButtonContext
{
  position: absolute;
  left: 14px;
  bottom: 55px;
  width: 100%;
  height: 70px;
}

.sidebar_appButton
{
  background: transparent url('../images/app_download_normal.png') no-repeat;
  width: 202px;
  height: 70px;
  cursor = pointer;
}

.sidebar_appButton:hover
{
  background: transparent url('../images/app_download_hover.png') no-repeat;
  width: 202px;
  height: 70px;
  cursor = pointer;
}

.mobile_appButton
{
  background: transparent url('../images/app_download_hd_normal.png') no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -136px;
  margin-left: -393px;
  width: 785px;
  height: 271px;
  cursor = pointer;
}

.mobile_appButton:hover
{
  background: transparent url('../images/app_download_hd_hover.png') no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -136px;
  margin-left: -393px;
  width: 785px;
  height: 271px;
  cursor = pointer;
}


.maindiv
{
  margin-left: 230px; /*sidebar width*/
  height: 100%;
  position: relative;
}

/*
 * For Sticky footer 
 */  

html, body 
{
  height: 100%;
}

.main
{
  background-color: #E5E5E5;
  display: flex;  
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 45px;
  overflow-x: hidden;
  overflow-y: auto;
}

.page-wrap 
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer {
  background-color: #242731;
  height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p 
{
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 0.75em;
  color: #fff;
  text-align: center;
}

footer a
{
  padding-top: 5px;
  padding-bottom: 3px;
  display: block;
  width: 60px;
  font-size: 0.75em;
  text-align: center;
  color: #fff;
}

footer b
{
  padding-top: 5px;
  padding-bottom: 3px;
  display: block;
  width: 60px;
  font-size: 0.75em;
  text-align: center;
  color: #fff;
}

footer a:link
{
  text-decoration: none;
}

footer a:visited
{
  color: white;
}

footer a:hover
{
  color: #f28437;
}

div .footerlink
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
