.totalContext
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.memberContext
{
	width: 100%;
	height: 500px;
	display: flex;
  	align-items: center;
  	flex-direction: column;
  	justify-content: center;	
  	border : 1px #000000;
}
