#myWordBookContext
{
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1.wordbook
{
  margin: 0;
  font-size: 40px;
  color: #444;
}

h2.wordbook 
{
  margin: 0;
  font-size: 19.2px;
  text-align: left;
  color: #888;
  letter-spacing: 0px;
  width: 100%;
  text-overflow: clip;
  white-space: nowrap;
}


.background
{
  background-color: white;
}

.columnFlex
{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.columnFlexNoCenter
{
  display: flex;
  flex-direction: column; 
}

.rowFlex
{
  display: flex;
  align-items: center;
  flex-direction : row;
  justify-content: center;
}

.rowFlexNoCenter
{
  display: flex;
  flex-direction : row;
}

.half
{
  width: 50%;
}

.leftAttach
{
  width: 50%;
  justify-content: flex-start;
}

.rightAttach
{
  width: 50%;
  justify-content: flex-end;
}

#searchContext
{
  position: relative;
  padding-right: 15px;
  height: 32px;
}

#searchBoxButtonContext
{
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#headerName
{
  padding-left: 10px;
  color: #000000;
  font-weight: 700;
  font-size: 2.5em;
  justify-content: flex-start;
}

#filterSearchContext
{
  justify-content: flex-end;
  padding-top: 43px;
}

#filterBox
{
  margin-right: 15px;
  min-width: 100px;
}

#searchBox
{
  display: block;
  font-size: 20px;
  width: 150px;
  height: 28px;
  padding-right: 40px;
}

#searchButton
{
  position: absolute;
  top: 0;
  right: 16px;
  background: transparent url('../images/search-icon-hi.png') top left no-repeat;
  background-size: 32px 32px;
  cursor = pointer;
  border: 0;
  height: 32px;
  width: 32px;
  zoom = 1;
}

.fullWidth
{
  width: 100%;
}

.square
{
  width: 100%;
}

#tableHeaderDiv
{
  padding-top: 10px;
}

#searchButtonContext
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#headerContext
{
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 5px;
}

#wordTableContext
{
  overflow-x: hidden;
  overflow-y: auto;
}

#tableHeader
{
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
  font-weight: 700;
  background-color: #8E9DC0;
}

#wordList
{
  justify-content: flex-start;
}

.sortHover:hover
{
  color:#FFF; 
}

.wordRow
{
  font-size: 18px;
  width: 100%;
  height: 50px;
}

.odd
{
  background-color: white;
}

.even
{
  background-color: #F8F8F8;
}

#wordBookCounterContext
{
  width: 100%;
  padding-top: 20px;
}

.pagination
{
  width: 32px;
  height: 32px;
  font-size: 16px;
  font-weight: 400;
  font-color: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
}

.pagination:hover
{
  background-color: white;
}

.headerFilter a
{

}

.headerFilter a:hover
{
  font-color: #ffffff;
}

.wordRow:hover
{
  background-color: #E5E5E5;
}

.wordLeftColumn
{
  padding-left: 10px;
}

.wordRightColumn
{
  font-size: small;
  color: #888;
  font-weight: 700;
  padding-right: 10px;
}


.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 #f5f5f5;
  font-weight: 700;
}
.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888 transparent;
  pointer-events: none;
}
.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  /* Fallback for IE 8 */
  background: #f2f2f2;
  /* "transparent" doesn't work with Opera */
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #E5E5E5;
  border-radius: 3px;
  cursor: pointer;
}
.dropdown-dark {
  font-color: #000000;
  background: #E5E5E5;
  border-color: #111 #0a0a0a black;
}
.dropdown-dark:before {
  border-bottom-color: #aaa;
}
.dropdown-dark:after {
  border-top-color: #aaa;
}
.dropdown-dark .dropdown-select {
  color: #000000;
  background: #E5E5E5;
}
.dropdown-dark .dropdown-select:focus {
  color: #000000;
}
.dropdown-dark .dropdown-select > option {
  background: #E5E5E5;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
