.totalContext
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.noticeContext
{
	width: 100%;
	height: 500px;
	display: flex;
  	align-items: center;
  	flex-direction: column;
  	justify-content: center;	
  	font-weight: 700;
  	font-size: 48px;
}