.columnFlex
{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.background
{
	background-color: white;
}

h1.status
{
	margin: 0;
	font-size: 2.5em;
}

h2.status
{
	margin: 0;
	font-size: 1.2em;
	text-align: left;
	color: #888;
	letter-spacing: 0px;
}

h3.status
{
	padding-top: 20px;
	margin: 3px;
	font-size: 1.2em;
	text-align: left;
	color: #444;
    font-weight: bold;
}

#statusContext
{
	padding-top: 50px;
	padding-bottom: 50px;
	width: 80%;
}

#backgroundContext
{
	padding: 15px;
}

#statusParagraphContext
{
	width: 100%;
	padding-left: 10px;
	padding-bottom: 30px;
}

.graph
{
	width: 100%;
	height: 300px;
}

.statusGraph
{
	background-color: #ffffff;
	height: 340px;
	margin-left: 10px;
	overflow: auto;
}
