.totalContext
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.studyContext
{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.studyHiraKanjiContext
{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
}

.studyKanjiContext
{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  min-height: 76px;
  padding-top: 15px;
}

.studyKanjiContext p
{
  font-weight: 700;
  font-size: 64px;
}

.studyOnlyKanaContext
{
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  min-height: 131px;
  width: 100%;
  padding: 22.5px;
}

.studyOnlyKana
{
  padding-top: 38px;
  min-height: 56px;
  padding-bottom: 38px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.studyOnlyKana p
{
  font-weight: 700;
  font-size: 48px;
}

.studyHiraContext
{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  min-height: 56px;
  padding: 5px;
}

.studyHiraContext p
{
  font-weight: 700;
  font-size: 48px;
}

.studyMeaningContext
{
  margin-top: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.studyMeaningContext p
{
  font-weight: 400;
  font-size: 36px;
}

.studyRememberButtonContext
{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.studyExampleContext
{
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.studyExampleParagraphContext
{
  width: 100%;
  display: flex;
  padding-top: 10px;

  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.studyExampleParagraphContext p
{
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.studyExampleRelativeContext
{
  width: 100%;
  display: flex;
  padding-bottom: 10px;
  
  flex-direction: row;
  justify-content: center;
}

.studyExampleRelativeWordContext
{
  margin-top: 20px;
  margin-right: 20px;
}

.studyStatisticContext
{
  margin-top: 15px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.studyStatisticLeftContext
{
  width: 50%;
  padding: 10px;
}

.studyStatisticRightContext
{
  width: 50%;
  padding: 10px;
}

.associatedKanji
{
  padding-left: 10px;
  font-weight: 700;
  font-size: 24px;
}

.associatedWord
{
  padding-left: 30px;
  font-weight: 400;
  font-size: 18px;
}

.studyTempContext
{
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.studyClockContext
{
  width: 100%;
  background-color: #444;
}

.studyNoClockContext
{
  width: 100%;
  background-color: #ffffff;
}

.studyButtonBorder
{
  padding: 3px;
  width: 32%;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.studyButton
{
	background-color: #8E9DC0;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.nextButton
{
  background-color: #8E9DC0;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.nextButton:hover
{
  background-color: #afbad4;
}

.avoid-clicks
{
  pointer-events: none;
  opacity: 0.3;
}

#memorize:hover
{
  background-color: #80ff98; 
  opacity: 1.0;
}

.memorizeButtonColor
{
  background-color: #80ff83;
}

#noMemorize:hover
{
  background-color: #FF8080;
  opacity: 1.0;
}

.noMemorizeButtonColor
{
  background-color: #FF8080;
}

.selectedButton
{
  opacity: 1.0;
}

.unselectedButton
{
	background-color: #576078;
  opacity: 0.3;
}