.totalContext
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.columnFlex
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.background
{
	background-color: white;
}

.fontControl
{
	font-weight: 400;
	font-size: 20px;
}

#wordBookListContext
{
	width: 80%;
}

#wordBookImportContext
{
	padding-top: 10px;
}

.fullWidth
{
	width: 100%;
}

#wordBookExportContext
{
	padding-top: 40px;
	padding-bottom: 10px;
}

.buttonPadding
{
	padding-top: 10px;
}

.buttonControlBorder
{
  padding: 3px;
  width: 32%;
  height: 70px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.buttonControl
{
  background-color: #8E9DC0;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.buttonControl:hover
{
  background-color: #afbad4;
}

