.totalContext
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.background
{
	background-color: white;
  background-clip: content-box;
}

.fontBold
{
	font-weight: 700;
}

.fontNormal
{
	font-weight: 400;
}

.columnFlexBox
{
	display: flex;
	justify-content: center;
  	flex-direction: column;
  	align-items: center;
}

.columnFlexNoCenterBox
{
    display: flex;
    flex-direction: column;
}

.columnBoxForBackground
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

#deleteContext
{
  width: 100%;
  padding-bottom: 5px;
}

#removeButton
{
  justify-content: flex-end;
}

#rememberCheckbox
{
  justify-content: flex-start;
}

.rowFlexBox
{
	display: flex;
	justify-content: center;
  flex-direction: row;
  align-items: center;	
}

.rowFlexNoCenterBox
{
  display: flex;
  flex-direction: row;
}

.word
{
  width: 85%;
}

.boxPadding
{
  padding-bottom: 10px;
}

#meaningContext
{
  padding-top: 10px;
}

#wordAddContext.columnFlexBox
{
	width: 80%;
}

#kanjiKanaContext
{
	width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#kanaContext
{
	padding-bottom: 10px;
}

#meaningExampleContext
{
  padding-top: 10px;
  width: 100%;
}

#relativeContext
{
  width: 100%;
  position: relative;
  height: 120px;
}

#relativeTempContext
{
  padding-top:15px;
}

#includeKanjiContext
{
  width: 50%;
  height: 100%;
}

#includeKanaContext
{
  width: 50%;
  height: 100%;
}


#similarWordContext
{
  width: 50%;
  height: 100%;
}

#includeName
{
  padding-left: 10px;
}

.relativeFont
{
  font-weight: 700;
  font-size: 24px;
}

.includeKanji
{
  font-weight: 400;
  font-size:20px;
}

.includeContext
{
  padding-left: 25px;
}

.similarWord
{
  width: 100%;
}

.kkContextWithPad
{
  width: 75%;
  padding-top: 10px;
}

.kkContext
{
	width: 75%;
}

.fuckingAsshole
{
  width: 100%;
  position: relative;
}

.editLinkButton
{
    display: block;
    font-size: 1em;
    text-align: center;
    width: 15%;
}

.editLinkButton a:visited
{
  color: #000000;
}

.editLinkButton a:link
{
  text-decoration: none;
  color: #000000;
}

.editLinkButton a:hover
{
  color: #f28437;
}

#wordaddButtonContext
{
  width: 100%;
  padding-top: 15px;
}

.ButtonContext
{
  width: 50%;
}

#cancelButton
{
  justify-content: flex-start;
}

#addButton
{
  justify-content: flex-end;
}

.myButton {
  background-color:transparent;
  border:4px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  text-align: center;
  font-weight: 700;
  font-size:28px;
  padding:25px 75px;
  text-decoration:none;
  width: 200px;
}

.mySmallButton {
  background-color:transparent;
  border:4px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  text-align: center;
  font-weight: 700;
  font-size:12px;
  padding:5px 5px;
  text-decoration:none;
  width: 70px;
}

.myButton:hover {
  background-color:transparent;
}
.myButton:active {
  position:relative;
  top:1px;
}


::-webkit-input-placeholder 
{
   text-align: center;
}

:-moz-placeholder 
{ /* Firefox 18- */
   text-align: center; 
}

::-moz-placeholder 
{  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder 
{  
   text-align: center;  
}

.checkbox-group {
    position:relative
}
 
/* Hide Checkbox Input */
.checkbox-group input[type=checkbox] {
    display:none
}
 
/* Style Label */
.checkbox-group label {
    padding-left:30px;
    padding-top: 15px;
    cursor:pointer;
}

/* Style span tag */
.checkbox-group label span {
    display:block;
    position:absolute;
    left:0;
}

/* Style box */
.checkbox-group label .box {
    background:#576078;
    height:20px;
    width:20px;
    z-index:9;
}
 
/* Style check icon. give it a border on the bottom and right only and then rotate */
.checkbox-group label .check {
    top:0;
    left:7px;
    width:7px;
    height:15px;
    border:2px solid #fff;
    border-top:none;
    border-left:none;
    opacity:0;
    z-index:10;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg);
}
 
/* Change color of box when checkbox is checked */
input[type=checkbox]:checked ~ label .box {
    background:#242731;
}
 
/* Rotate and show check icon when checkbox is checked */
input[type=checkbox]:checked ~ label .check {
    opacity:1;
    -webkit-transform:scale(1) rotate(45deg);
    -moz-transform:scale(1) rotate(45deg);
    transform:scale(1) rotate(45deg);
}

input[type=text]
{
	padding: 10px;
	border: solid 5px #c9c9c9;
	display: block;
	width: 100%;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	-webkit-transition: border 0.3s;
  	-moz-transition: border 0.3s;
  	-o-transition: border 0.3s;
  	transition: border 0.3s;
}

input[type=text]:focus
{
	outline: medium none;
	border: solid 5px #969696;
}

.meaning input[type=text]:required:invalid
{
  /* this part need jquery works*/
  /*color: #FF8080;*/
}

.meaning input[type=text]:required:valid
{

}

.kanji input[type=text]
{
	font-size: 64px;
  font-weight: 700;
}

.kana input[type=text]
{
	font-size: 32px;
  font-weight: 700;
}

.meaning input[type=text]
{
  font-size: 24px;
  font-weight: 700;
}

.example input[type=text]
{
  font-size: 28px;
  font-weight: 700;
}