<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="75dp"
        android:minWidth="25px"
        android:minHeight="25px"
        android:gravity="bottom">
        <Button
            android:text="학습 현황"
            android:layout_width="75dp"
            android:layout_height="match_parent"
            android:id="@+id/tab1"
            android:textSize="16dp" />
        <Button
            android:text="내 단어장"
            android:layout_width="75dp"
            android:layout_height="match_parent"
            android:id="@+id/tab2"
            android:textSize="16dp" />
        <Button
            android:text="단어장 목록"
            android:layout_width="75dp"
            android:layout_height="match_parent"
            android:id="@+id/tab3"
            android:textSize="16dp" />
        <Button
            android:text="학습 현황"
            android:layout_width="75dp"
            android:layout_height="match_parent"
            android:id="@+id/tab4"
            android:textSize="16dp" />
        <Button
            android:text="기타"
            android:layout_width="75dp"
            android:layout_height="match_parent"
            android:id="@+id/tab5"
            android:textSize="16dp" />
    </LinearLayout>
    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="75dp">
        <Button
            android:text="왼쪽"
            android:layout_width="50dp"
            android:layout_height="match_parent"
            android:layout_alignParentLeft="true"
            android:id="@+id/left"
            android:textSize="16dp" />
        <Button
            android:text="오른쪽"
            android:layout_width="50dp"
            android:layout_height="match_parent"
            android:layout_alignParentRight="true"
            android:id="@+id/right"
            android:textSize="16dp"
            android:textAlignment="viewEnd" />
        <TextView
            android:text="단어 목록 (#/#)"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:textAlignment="center"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_centerInParent="true"
            android:id="@+id/kanji"
            android:textSize="36dp" />
    </RelativeLayout>
    <ScrollView
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="300dp"
        android:id="@+id/scrollView1">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:minWidth="25px"
            android:minHeight="25px"
            android:gravity="bottom">
            <TextView
                android:text="0"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/kanji"
                android:textSize="36dp" />
            <TextView
                android:text="0"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/kana"
                android:textSize="24dp" />
            <TextView
                android:text="0"
                android:textAppearance="?android:attr/textAppearanceSmall"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/meaning"
                android:textSize="24dp" />
            <TextView
                android:text="1"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/kanji"
                android:textSize="36dp" />
            <TextView
                android:text="2"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/kana"
                android:textSize="24dp" />
            <TextView
                android:text="3"
                android:textAppearance="?android:attr/textAppearanceSmall"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/meaning"
                android:textSize="24dp" />
            <TextView
                android:text="4"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/kanji"
                android:textSize="36dp" />
            <TextView
                android:text="5"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/kana"
                android:textSize="24dp" />
            <TextView
                android:text="6"
                android:textAppearance="?android:attr/textAppearanceSmall"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/meaning"
                android:textSize="24dp" />
            <TextView
                android:text="7"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/kanji"
                android:textSize="36dp" />
            <TextView
                android:text="8"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/kana"
                android:textSize="24dp" />
            <TextView
                android:text="9"
                android:textAppearance="?android:attr/textAppearanceSmall"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/meaning"
                android:textSize="24dp" />
        </LinearLayout>
    </ScrollView>
    <TextView
        android:text="Kanji"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/kanji"
        android:textSize="36dp" />
    <TextView
        android:text="kana"
        android:textAppearance="?android:attr/textAppearanceMedium"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/kana"
        android:textSize="24dp" />
    <TextView
        android:text="meaning"
        android:textAppearance="?android:attr/textAppearanceSmall"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/meaning"
        android:textSize="24dp" />
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:minWidth="25px"
        android:minHeight="25px"
        android:gravity="bottom">
        <CheckBox
            android:text="미암기"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/forgot"
            android:textSize="36dp" />
        <CheckBox
            android:text="어려움"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/difficult"
            android:textSize="36dp" />
        <CheckBox
            android:text="보통"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/good"
            android:textSize="36dp" />
        <CheckBox
            android:text="쉬움"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/easy"
            android:textSize="36dp" />
        <CheckBox
            android:text="암기"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/memroized"
            android:textSize="36dp" />
        <Button
            android:text="다음 단어로"
            android:layout_width="match_parent"
            android:layout_height="75dp"
            android:id="@+id/next"
            android:textSize="36dp" />
    </LinearLayout>
</LinearLayout>